{% extends 'layout.html' %}

{% block body %}
	<img src="/static/logo.png" alt="" height="200"/>
    <h1><font color="#3a0345">About Us</font></h1>
    <p align="justify">Orkestrate Pty. is an AI and deep learning services business founded in 2015. Our mission is to help people and create business success within this new technology era where everything relies on data. We believe that applying data science, deep learning and neural networks can help improve many existing business problems. Our top-notch engineers and data scientists have years of experience in machine learning and business intelligence, delivering IT architecture, integration and advanced analytics services to organizations from several industry sectors around world.</p>
    <br>
    <p align="justify">For more information, visit our website <a href="http://orkestrate.ml">orkestrate.ml</a> or contact us at <a href="mailto:info@orkestrate.ml">info@orkestrate.ml</a></p>
{% endblock %}
