{% extends 'layout.html' %}

{% block body %}
	<img src="/static/logo.png" alt="" />
	<br>
    <h1><font color="#3a0345">Welcome To Orkestrate AI App</font></h1>
	<br>
    <p class="lead">This program will help you train neural network and use deep learning models for image and text classification.</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
{% endblock %}
